 /*--------------------------------------SMARTPHONE PETITE TAILLE--------------------------------------------*/
@media screen and (max-width:350px) {

    main {


        margin-top: 2.65%;
        text-align: center;
        margin-left: 4%;
        margin-right: 19%;



    }

    #Haut_de_page {

        display: block;
    }


    h2{

        margin-left: 2em;
    }
    /*------MENU----*/
    nav {

        border-bottom: 1px lightgray solid;
        display: contents;

    }

    #Logos {


        margin-top: 10px;
        width: 110px;
        height: 4em;
        float: left;

    }


    .Link-Nav {
        border-top: none;
        border-bottom: 3px solid #F2F2F2;
        width: 45.8%;
        font-size: 18px;
        margin-left: -66px;
        padding-left: 61px;
        display: flex;
        justify-content: flex-end;
    }

  
    li {

        font-size: x-large;
        font-weight: bold;
        width: 100%;

    }

    li:hover{

        color: #0065FC;
        border-bottom: 3px #0065fc solid
    }

    #Activite {

        margin-top: 2em;

    }

    #hebergement {

        margin-top: 2em;
    }

    #Hebergement_activite {

        display: flex;
        margin-top: 9em;
        width: 100%;
        position: relative;
        left: 103px;
    }



    nav ul li a:hover {


        border-top: hidden;
    }

    #inscription {

        left: 2em;
        top: -229px;
    }

    #TitreHeader {

        text-align: left;
    }

    #TitreHeader >p {

        font-size:smaller ;
    }
    /*-------Barre de recherche---------*/
    .search_loupe {

        display: table;
    }

    .searchFormSubmitinputText {

        display: none;
    }

    /*-----FILTRE----*/

    #Filtres {


        flex-wrap: wrap;
        width: 80%;
        justify-content: flex-start;

    }

    .FiltreSearch {

        margin-top: 20px;
    }

    #Information_logement {

        margin-top: 19em;
    }

    #ButtonFiltres {

        flex-direction: column;
    }


    /*----informaton logement------*/

    .info>i {


        left: 1px;
    }


    /*----------Hebergement-----*/

    #HemergementMarseille {


        width: 100%;
        padding-bottom: 63em;
        background-color: white;
        border: none;
    }

    #Section1 {

        display: flex;
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }

    #div_Hebergement {

        padding-bottom: 10em;
        margin-top: 8px;
        margin-left: 24px;
    }


    .CardHebergement {

        text-align: left;
    }

    .CardHebergement>img {

        width: 265px;
    }

    .AfficherPlus {

        margin-left: auto;
        margin-right: auto;
    }

    #îcones_populaires {
        position: relative;
        top: -1em;
        left: 4em;
    }

    #LesPlusPopulaires {

        width: 87%;
        display: flex;
        flex-flow: column wrap;
        margin-left: -14px;
    }


    .AfficherPlus {
        margin-left: 6em; 
    }
    /*----------Activité-----*/

    #Activité_Marseille {

        display: block;
        width: 100%;
    }

    #Article_Activite_Marseille {

        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }

    #Block_Img_1 {

        display: flex;
        flex-flow: column;
        flex-wrap: wrap;
        margin-left: 00%;
        padding-left: 57px;
    }

    .petit_block_Img {

        margin-top: 10em;
    }

    #Block_img_2 {

        display: block;
        margin-left: 56px;
        margin-top: 65px;
    }

    .petit_block_Img2 {

        margin-top: 0em;
    }

    .Img_Hebergement_Populaire {

        height: 119px;

    }

    .Img_Hebergement_Populaire>img {

        height: 124px;

    }

    .discription_img {

        font-size: 13px;
    }

    .discription_img>.StarNote {
        margin-top: -12px;
    }


    /*----------------Activité--------------------*/

    .img_activite>img {


        height: 145px;
        width: 220px;

    }

    .img_activite {


        height: 190px;
        width: 217px;
    }

    /*----------footer---*/
    footer {

        display: block;
        margin-bottom: -16px;
        margin-left: -3%;
        padding-left: 3.5%;
        margin-right: -8px;
        padding-bottom: 5px;

    }

    #A_propos {

        margin-left: 3%;
    }
}

/*--------------------------------------------SMARTPHONE GRANDE TAILLE-------------------------------------*/
@media screen and ( min-width:351px ) and (max-width:480px) {
    

    main {


        margin-top: 2.65%;
        text-align: center;
        margin-left: 4%;
        margin-right: 19%;



    }

    #Haut_de_page {

        display: block;
    }


    h2{

        margin-left: 2em;
    }
    /*------MENU----*/
    nav {

        border-bottom: 1px lightgray solid;
        display: contents;

    }

    #Logos {


        margin-top: 10px;
        width: 110px;
        height: 4em;
        float: left;

    }


    .Link-Nav {
        border-top: none;
        border-bottom: 3px solid #F2F2F2;
        width: 45.8%;
        font-size: 23px;
        margin-left: -66px;
        padding-left: 71px;
        display: flex;
        justify-content: flex-end;
    }

   
    li {

        font-size: x-large;
        width: 100%;

    }

    li:hover{

        color: #0065FC;
        border-bottom: 3px #0065fc solid
    }

    #Activite {

        margin-top: 2em;

    }

    #hebergement {

        margin-top: 2em;
    }

    #Hebergement_activite {

        display: flex;
        margin-top: 9em;
        width: 100%;
        position: relative;
        left: 103px;
    }



    nav ul li a:hover {


        border-top: hidden;
    }

    #inscription {

        left: 2em;
        top: -229px;
    }

    #TitreHeader {

        text-align: left;
    }

    /*-------Barre de recherche---------*/
    .search_loupe {

        display: table;
    }

    .searchFormSubmitinputText {

        display: none;
    }

    /*-----FILTRE----*/

    #Filtres {


        flex-wrap: wrap;
        width: 80%;
        justify-content: flex-start;

    }

    .FiltreSearch {

        margin-top: 20px;
    }

    #Information_logement {

        margin-top: 19em;
    }

    #ButtonFiltres {

        flex-direction: column;
    }


    /*----informaton logement------*/

    .info>i {


        left: 1px;
    }


    /*----------Hebergement-----*/

    #HemergementMarseille {


        width: 100%;
        padding-bottom: 63em;
        background-color: white;
        border: none;
    }

    #Section1 {

        display: flex;
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }

    #div_Hebergement {

        padding-bottom: 10em;
        margin-top: 8px;
        margin-left: 24px;
    }


    .CardHebergement {

        text-align: left;
    }

    .CardHebergement>img {

        width: 265px;
    }

    .AfficherPlus {

        margin-left: auto;
        margin-right: auto;
    }

    #îcones_populaires {
        position: relative;
        top: -1em;
        left: 5em;
    }

    #LesPlusPopulaires {

        width: 87%;
        display: flex;
        flex-flow: column wrap;
        margin-left: -14px;
    }


    .AfficherPlus {
        margin-left: 6em; 
    }
    /*----------Activité-----*/

    #Activité_Marseille {

        display: block;
        width: 100%;
    }

    #Article_Activite_Marseille {

        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }

    #Block_Img_1 {

        display: flex;
        flex-flow: column;
        flex-wrap: wrap;
        margin-left: 00%;
        padding-left: 57px;
    }

    .petit_block_Img {

        margin-top: 10em;
    }

    #Block_img_2 {

        display: block;
        margin-left: 56px;
        margin-top: 65px;
    }

    .petit_block_Img2 {

        margin-top: 0em;
    }

    .Img_Hebergement_Populaire {

        height: 119px;

    }

    .Img_Hebergement_Populaire>img {

        height: 124px;

    }

    .discription_img {

        font-size: 13px;
    }

    .discription_img>.StarNote {
        margin-top: -12px;
    }


    /*----------------Activité--------------------*/

    .img_activite>img {


        height: 145px;
        width: 220px;

    }

    .img_activite {


        height: 190px;
        width: 217px;
    }

    /*----------footer---*/
    footer {

        display: block;
        margin-bottom: -16px;
        margin-left: -3%;
        padding-left: 3.5%;
        margin-right: -8px;
        padding-bottom: 5px;

    }

    #A_propos {

        margin-left: 3%;
    }

}

/*-------------------------------------------------------------------------TABLETTE---------------------*/

@media screen and (min-width:481px) and (max-width:768px) {

    main {

       
        margin-top: 2.65%;
        text-align: left;
       


    }

    #Haut_de_page {

        display: block;
    }

    /*------MENU----*/
    nav {

        border-bottom: 1px lightgray solid;
        display: contents;

    }

    #Logos {


        margin-top: 10px;
        width: 110px;
        height: 4em;
        float: left;

    }

    .Link-Nav:hover {

        color: #0065FC;
        border-bottom:  3px #0065fc solid
}
    .Link-Nav {
        border-top: none;
        border-bottom: 3px solid #F2F2F2;
        width: 50%;
    }

    li {

        font-size: 33px;
        width: 100%;

    }

    #Activite {

        margin-top: 2em;

    }

    #hebergement {

        margin-top: 2em;
    }

    #Hebergement_activite {

        display: flex;
        margin-top: 9em;
        width: 100%;
        position: relative;
        left: 79px;

    }



    nav ul li a:hover {

       
        border-top: hidden;
    }

    #inscription {

        left: -1em;
        top: -178px;
    }



    /*-----FILTRE----*/

    #Filtres {


        flex-wrap: wrap;
        width: 80%;
        justify-content: flex-start;

    }

    .FiltreSearch {

        margin-top: 20px;
    }


    .FiltreSearch >p {

        margin: auto;
    }

    #Information_logement {

        margin-top: 19em;
    }

    #ButtonFiltres {

        flex-direction: column;
        width: 100%;
    }



    /*----informaton logement------*/

    .info>i {


        left: 1px;
    }


    /*----------Hebergement-----*/

    #HemergementMarseille {


        width: 100%;
        padding-bottom: 10em;
    }

    #Section1 {

        display: flex;
        flex-wrap: wrap;
    }

    #div_Hebergement {

        padding-bottom: 10em;
        margin-top: 8px;
    }

    .AfficherPlus {

        margin-left: auto;
        margin-right: auto;
    }

    #îcones_populaires {
        position: relative;
        top: -1em;
    }

    #LesPlusPopulaires {

        width: 100%;
    }

    /*----------Activité----*/

    #Activité_Marseille {

        display: block;
        width: 100%;
    }

    #Article_Activite_Marseille {

        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }

    #Block_Img_1 {

        display: flex;
        flex-wrap: wrap;
        width: 50%;
    
    }


    #Block_img_2 {

        display: flex;
        flex-flow: wrap;
        margin-left: 32px;
        width: 50%;
    }

    footer {

        display: block;
        margin-bottom: -16px;
        margin-left: -3%;
        padding-left: 3.5%;
        margin-right: -8px;
        padding-bottom: 5px;

    }
   

    #A_propos{

        margin-left: 3%;
    }
}

/*-------------------------------------------------------------------------GRANDE-TABLETTE------*/

@media screen and (min-width:769px) and (max-width:1024px) {


        main {
    
           
            margin-top: 2.65%;
          
           
    
    
        }
    
        #Haut_de_page {
    
            display: block;
        }
    
        /*------MENU----*/
        nav {
    
            border-bottom: 1px lightgray solid;
            display: contents;
    
        }
    
        #Logos {
    
    
            margin-top: 10px;
            width: 110px;
            height: 4em;
            float: left;
    
        }
    
        .Link-Nav:hover {
    
            color: #0065FC;
            border-bottom:  3px #0065fc solid
    }
        .Link-Nav {
            border-top: none;
            border-bottom: 3px solid #F2F2F2;
            width: 50%;
        }
    
        li {
    
            font-size: 34px;
            width: 100%;
    
        }
    
        #Activite {
    
            margin-top: 2em;
    
        }
    
        #hebergement {
    
            margin-top: 2em;
        }
    
        #Hebergement_activite {
    
            display: flex;
            margin-top: 9em;
            width: 100%;
            position: relative;
            left: 79px;
    
        }
    
    
    
        nav ul li a:hover {
    
           
            border-top: hidden;
        }
    
        #inscription {
    
            left: -1em;
            top: -178px;
        }
    
    
    
        /*-----FILTRE----*/
    
        #Filtres {
    
    
            flex-wrap: wrap;
            width: 80%;
            justify-content: flex-start;
    
        }
    
        .FiltreSearch {
    
            margin-top: 20px;
        }
    
    
        .FiltreSearch >p {
    
            margin: auto;
        }
    
        #Information_logement {
    
            margin-top: 19em;
        }
    
        #ButtonFiltres {
    
            flex-direction: column;
            width: 100%;
        }
    
    
    
        /*----informaton logement------*/
    
        .info>i {
    
    
            left: 1px;
        }
    
    
        /*----------Hebergement-----*/
    
        #HemergementMarseille {
    
    
            width: 100%;
            padding-bottom: 10em;
        }
    
        #Section1 {
    
            display: flex;
            flex-wrap: wrap;
        }
    
        #div_Hebergement {
    
            padding-bottom: 10em;
            margin-top: 8px;
        }
    
        .AfficherPlus {
    
            margin-left: auto;
            margin-right: auto;
        }
    
        #îcones_populaires {
            position: relative;
            top: -1em;
            left: 31em;
        }
    
        #LesPlusPopulaires {
    
            width: 100%;
        }
    
        /*----------Activité----*/
    
        #Activité_Marseille {
    
            display: block;
            width: 100%;
        }
    
        #Article_Activite_Marseille {
    
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            flex-direction: column;
        }
    
        #Block_Img_1 {
    
            display: flex;
            flex-wrap: wrap;
            padding-left: 132px;
        
        }
    
    
        #Block_img_2 {
    
            display: flex;
            flex-flow: wrap;
            margin-left: 32px;
            padding-left: 122px;
        }
    
        footer {

            display: block;
            margin-bottom: -16px;
            margin-left: -3%;
            padding-left: 3.5%;
            margin-right: -8px;
            padding-bottom: 5px;
    
        }
       
    
        #A_propos{
    
            margin-left: 3%;
        }
    }
    
    /*---------------------ORDINATEUR_PORTABLE----------------------------------*/

    @media screen and (min-width:1025px) and (max-width:1230px) {
    
    
        main {
    
            margin-left: 0;
            margin-right: 0;
            margin-top: 2.65%;
            text-align: center;
            width: 100%;
    
    
        }
    
        #Haut_de_page {
    
            display: block;
        }
    
        /*------MENU----*/
        nav {
    
            border-bottom: 1px lightgray solid;
            display: contents;
    
        }
    
        #Logos {
    
    
            margin-top: 10px;
            width: 110px;
            height: 4em;
            float: left;
    
        }
    
        .Link-Nav:hover {
    
            color: #0065FC;
            border-bottom:  3px #0065fc solid
    }
        .Link-Nav {
            border-top: none;
            border-bottom: 3px solid #F2F2F2;
            width: 50%;
        }
    
        li {
    
            font-size: x-large;
            width: 100%;
    
        }
    
        #Activite {
    
            margin-top: 2em;
    
        }
    
        #hebergement {
    
            margin-top: 2em;
        }
    
        #Hebergement_activite {
    
            display: flex;
            margin-top: 9em;
            width: 100%;
            position: relative;
            left: 79px;
    
        }
    
    
    
        nav ul li a:hover {
    
          
            border-top: hidden;
        }
    
        #inscription {
    
            left: -1em;
            top: -178px;
        }
    
    
    
        /*-----FILTRE----*/
    
        #Filtres {
    
    
            flex-wrap: wrap;
            width: 80%;
            justify-content: flex-start;
    
        }
    
        .FiltreSearch {
    
            margin-top: 20px;
        }
    
        .FiltreSearch >p {
    
            margin: auto;
        }
        #Information_logement {
    
            margin-top: 19em;
        }
    
        #ButtonFiltres {
    
            flex-direction: column;
            width: 100%;
        }
    
    
    
        /*----informaton logement------*/
    
        .info>i {
    
    
            left: 1px;
        }
    
    
        /*----------Hebergement-------------------*/
    
        #HemergementMarseille {
    
    
            width: 100%;
            padding-bottom: 9em;
        }
    
        #Section1 {
    
    
            flex-wrap: wrap;
            align-items: stretch;
        }
    
        #div_Hebergement {
    
            padding-bottom: 10em;
            margin-top: 8px;
        }
    
        .AfficherPlus {
    
            margin-left: auto;
            margin-right: auto;
        }
    
        #îcones_populaires {
            position: relative;
            top: -1em;
            left: 4em;
        }
    
        #LesPlusPopulaires {
    
            width: 100%;
        }
    
        /*----------Activité-------------------*/
    
        #Activité_Marseille {
    
            display: block;
            width: 100%;
        }
    
        #Article_Activite_Marseille {
    
            display: flex;
            flex-wrap: wrap;
            width: 100%;
        }
    
        .Activité_images {
            margin-left: -3em;
    
    
        }
    
        footer {

            display: block;
            margin-bottom: -16px;
            margin-left: -3%;
            padding-left: 3.5%;
            margin-right: -8px;
            padding-bottom: 5px;
    
        }

    }

    @media screen and (min-width:1231px) and (max-width:1330px) {


        #îcones_populaires {
           
            position: relative;
            top: -1em;
            left: 14em;
        }


        .discription_img > .StarNote {
            margin-top: 0%;
        }

    }

    @media screen and (min-width:1231px){


        #îcones_populaires {
           
            position: relative;
            top: -1em;
            left: 14em;
        }
    }