/*--------------------------------------SMARTPHONE PETITE TAILLE--------------------------------------------*/
@media screen and (max-width:350px) {

    main {


        margin-top: 2.65%;
        text-align: center;
        margin-left: 3%;
        margin-right: 24%;



    }

    #Haut_de_page {

        display: block;
    }


    h2 {

        margin-left: 2em;
    }

    /*------MENU----*/
    nav {

        border-bottom: 1px lightgray solid;
        display: contents;


    }

    #Logos {


        margin-top: 10px;
        width: 110px;
        height: 4em;
        float: left;

    }


    .Link-Nav {
        border-top: none;
        border-bottom: 3px solid #F2F2F2;
        width: 45.8%;
        font-size: 18px;
        margin-left: -66px;
        padding-left: 70px;
        display: flex;
        justify-content: flex-end;
    }


    li {

        font-size: x-large;
        font-weight: bold;
        width: 100%;

    }

    li:hover {

        color: #0065FC;
        border-bottom: 3px #0065fc solid
    }

    #Activite {

        margin-top: 2em;

    }

    #hebergement {

        margin-top: 2em;
    }

    #Hebergement_activite {

        display: flex;
        margin-top: 9em;
        width: 100%;
        position: relative;
        left: 103px;
        top: -15px;
    }



    nav ul li a:hover {


        border-top: hidden;
    }

    #inscription {

        left: 2em;
        top: -169px;
    }

    #TitreHeader {

        text-align: left;
    }

    #TitreHeader>p {

        font-size: smaller;
    }

    /*-------Barre de recherche---------*/
    .search_loupe {

        display: table;
    }

    .searchFormSubmitinputText {

        display: none;
    }

    /*-----FILTRE----*/

    #Filtres {


        flex-wrap: wrap;
        width: 80%;
        justify-content: flex-start;

    }

    .FiltreSearch {

        margin-top: 20px;
    }

    #Information_logement {

        margin-top: 19em;
    }

    #ButtonFiltres {

        flex-direction: column;
    }


    /*----informaton logement------*/

    .info>i {


        left: 1px;
    }


    /*----------Hebergement-----*/

    #HemergementMarseille {


        width: 100%;
        padding-bottom: 63em;
        background-color: white;
        border: none;
    }

    #Section1 {

        display: flex;
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }

    #div_Hebergement {

        padding-bottom: 10em;
        margin-top: 8px;
        margin-left: 24px;
    }


    .CardHebergement {

        text-align: left;
    }

    .CardHebergement>img {

        width: 265px;
    }

    .AfficherPlus {

        margin-left: auto;
        margin-right: auto;
    }

    #îcones_populaires {
        position: relative;
        top: -1em;
        left: 4em;
    }

    #LesPlusPopulaires {

        width: 87%;
        display: flex;
        flex-flow: column wrap;
        margin-left: -14px;
    }


    .AfficherPlus {
        margin-left: 6em;
    }

    /*----------Activité-----*/

    #Activité_Marseille {

        display: block;
        width: 100%;
    }

    #Article_Activite_Marseille {

        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }

    #Block_Img_1 {

        display: flex;
        flex-flow: column;
        flex-wrap: wrap;
        margin-left: 00%;
        padding-left: 57px;
    }

    .petit_block_Img {

        margin-top: 10em;
        margin-left: 29px;
    }

    #Block_img_2 {

        display: block;
        margin-left: 56px;
        margin-top: 65px;
    }

    .images_Îles_frioule {

        margin-top: 56px;

    }


    .petit_block_Img2 {

        margin-top: 0em;
        margin-left: 18px;
    }

    .Img_Hebergement_Populaire {

        height: 119px;

    }

    .Img_Hebergement_Populaire>img {

        height: 124px;

    }

    .discription_img {

        font-size: 13px;
    }

    .discription_img>.StarNote {
        margin-top: -12px;
    }


    /*----------------Activité--------------------*/

    .img_activite>img {


        height: 145px;
        width: 220px;

    }

    .img_activite {


        height: 190px;
        width: 217px;
    }

    /*----------footer---*/
    footer {

        display: block;
        margin-bottom: -16px;
        margin-left: -3%;
        padding-left: 3.5%;
        margin-right: -8px;
        padding-bottom: 5px;

    }

    #A_propos {

        margin-left: 3%;
    }
}

/*--------------------------------------------SMARTPHONE GRANDE TAILLE-------------------------------------*/
@media screen and (min-width:351px) and (max-width:480px) {


    main {


        margin-top: 2.65%;
        margin-left: 13%;
        margin-right: 42%;



    }

    #Haut_de_page {

        display: block;
    }


    h2 {

        display: block ruby;

    }

    /*------MENU----*/
    nav {

        border-bottom: 1px lightgray solid;
        display: contents;

    }

    #Logos {


        margin-top: 10px;
        width: 110px;
        height: 4em;
        float: left;
        margin-left: -31px;

    }

    li>a {

        margin-left: 12px;


    }

    .Link-Nav {
        border-top: none;
        border-bottom: 0px solid #F2F2F2;
        width: 45.8%;
        font-size: 23px;
        display: flex;
        position: relative;
        left: -17px;
        font-style: normal !important;
    }

    .Link-Nav:nth-child(2) {

        position: relative;
        left: 7px;
        width: 0;
    }

    li {

        font-size: x-large;
        width: 100%;

    }

    li:hover {

        color: #0065FC;
    }

    #Activite {

        margin-top: 2em;

    }

    #hebergement {

        margin-top: 2em;
    }

    #Hebergement_activite {

        display: flex;
        margin-top: 9em;
        width: 212%;
        position: relative;
        left: 31px;
        top: 7px;
        border-bottom: 3px solid #F2F2F2;
    }


    #Hebergement_activite:hover {


        border-bottom: 3px #0065fc solid
    }

    /*nav ul li a {
      
       margin-left: 8;
       padding-right: 18%;
   }
   */

    nav ul li a:hover {


        border-top: hidden;
    }

    #inscription {

        left: 8em;
        top: -147px;
        font-weight: bold;
    }

    #TitreHeader {

        display: flex;
        width: 100%;
        flex-direction: column;
        flex-wrap: wrap;

    }


    #TitreHeader p {

        margin-left: -35px;
    }

    h1 {

        font-size: 22px;
        width: 330px;
        margin-left: -34px;
    }


    /*-------Barre de recherche---------*/
    .search_loupe {

        display: table;
    }

    .searchFormSubmitinputText {

        display: none;
    }

    .FormRecherche {

        max-width: 180%;
        margin-left: -17px;
    }

    /*-----FILTRE----*/

    #Filtres {


        flex-wrap: wrap;
        /* width: 80%;
        ustify-content: flex-start; */

    }

    .FiltreSearch {

        margin-top: 20px;
    }

    #Information_logement {

        margin-top: 19em;
        width: 327px;
        margin-left: -39px;
    }

    #ButtonFiltres {

        display: grid;
        grid-template-columns: 171px 172px;
        grid-template-rows: 70px 74px 74px;
        grid-template-areas: "1""2""3";
        margin-left: -32px;
        grid-column-gap: 10px;


    }

    .FiltreSearch {


        height: 40px;
        padding-left: 0px;
        width: 162px;

    }

    .FiltreSearch:nth-child(1) {


        grid-area: 1;
        margin-left: 1px;
    }

    .FiltreSearch:nth-child(2) {


        grid-area: 1;
        margin-left: 1px;
        width: 136px;
    }

    .FiltreSearch:nth-child(3) {


        grid-area: 2;
        margin-left: 1px;
    }

    .FiltreSearch:nth-child(4) {


        grid-area: 3;
        margin-left: 1px;
    }


    /*----informaton logement------*/

    .info>i {


        left: 4px;
    }


    /*----------Hebergement-----*/

    #HemergementMarseille {


        width: 100%;
                padding-bottom: 63em;
        background-color: white;
        border: none;
    }


    #HemergementMarseille > h2 {
    
        margin-left: -20%;
    
    }
    #Section1 {

        display: flex;
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }

    #div_Hebergement {

        padding-bottom: 10em;
        margin-top: 8px;
        margin-left: 54px;

    }


    .CardHebergement {

        text-align: left;
    }

    .CardHebergement>img {

        width: 329px;
        
        height: 138px;
    }

    .AfficherPlus {

       left: -1em;
    }

    #îcones_populaires {
        position: relative;
        top: -1em;
        left: 74%;
    }

    #LesPlusPopulaires {

        width: 171%;
        display: flex;
        flex-flow: column wrap;
        margin-left: -58px;
border-radius: 0%;

    }


    .AfficherPlus {
        margin-left: 0em;
        margin-top: -4em;
    }


    /*----------Activité-----*/

    #Activité_Marseille {

        display: block;
        width: 100%;
    }

    #Activité_Marseille > h2{

        position: relative;
        top: 2em;
        left: -29px;

    }

    #Article_Activite_Marseille {

        display: flex;
        flex-wrap: wrap;
        width: 100%;
        margin-left: 18px;
    }

    #Block_Img_1 {

        display: flex;
        flex-flow: column;
        flex-wrap: wrap;
        margin-left: 00%;
        padding-left: 80px;
    }


    .petit_block_Img {

        margin-top: 10em;
        padding-left: 14px;


    }



    #Block_img_2 {

        display: block;
        margin-left: 56px;
        margin-top: 65px;
    }

    .images_Îles_frioule {

        margin-top: 56px;

    }

    .petit_block_Img2 {

        margin-top: 0em;
        margin-left: 24px;
    }

    .Img_Hebergement_Populaire {

        height: 119px;

    }

    .Img_Hebergement_Populaire>img {

        height: 124px;

    }

    .discription_img {

        font-size: 13px;
    }

    .discription_img>.StarNote {
        margin-top: -12px;
    }



    .img_activite>img {


        height: 171px;
        width: 322px;

    }

    .img_activite {


        height: 213px;
        width: 319px;
        padding: 0;
    }
    /*----------footer---*/
    footer {

        display: block;
        margin-bottom: -16px;
        margin-left: -3%;
        padding-left: 3.5%;
        margin-right: -8px;
        padding-bottom: 5px;

    }

    #A_propos {

        margin-left: 3%;
    }

}

/*-------------------------------------------------------------------------TABLETTE---------------------*/

@media screen and (min-width:481px) and (max-width:768px) {

    main {


        margin-top: 2.65%;
        text-align: left;



    }

    #Haut_de_page {

        display: block;
    }

    /*------MENU----*/
    nav {

        border-bottom: 1px lightgray solid;
        display: contents;

    }

    #Logos {


        margin-top: 10px;
        width: 110px;
        height: 4em;
        float: left;

    }

    .Link-Nav:hover {

        color: #0065FC;
        border-bottom: 3px #0065fc solid
    }

    .Link-Nav {
        border-top: none;
        border-bottom: 3px solid #F2F2F2;
        width: 50%;
    }

    li {

        font-size: 33px;
        width: 100%;
        font-size: 24px;

    }

    #Activite {

        margin-top: 2em;

    }

    #hebergement {

        margin-top: 2em;
    }

    #Hebergement_activite {

        display: flex;
        margin-top: 9em;
        width: 100%;
        position: relative;
        left: 79px;
        top: -14px;

    }



    nav ul li a:hover {


        border-top: hidden;
    }

    #inscription {

        left: -1em;
        top: -178px;
    }



    /*-----FILTRE----*/

    #Filtres {


        flex-wrap: wrap;
        width: 80%;
        justify-content: flex-start;

    }

    .FiltreSearch {

        margin-top: 20px;
    }


    .FiltreSearch>p {

        margin: auto;
    }

    #Information_logement {

        margin-top: 19em;
    }

    #ButtonFiltres {

        flex-direction: column;
        width: 100%;
    }



    /*----informaton logement------*/

    .info>i {


        left: 7px;
    }


    /*----------Hebergement-----*/

    #HemergementMarseille {


        width: 100%;
        padding-bottom: 10em;
    }

    #Section1 {

        display: flex;
        flex-wrap: wrap;
    }

    #div_Hebergement {

        padding-bottom: 10em;
        margin-top: 8px;
    }

    .AfficherPlus {

        margin-left: auto;
        margin-right: auto;
    }

    #îcones_populaires {
        position: relative;
        top: -1em;
        left: 32em;
    }

    #LesPlusPopulaires {

        width: 100%;
    }

    /*----------Activité----*/

    #Activité_Marseille {

        display: block;
        width: 100%;
    }

    #Article_Activite_Marseille {

        display: flex;
        flex-wrap: wrap;
        width: 100%;
        margin-left: 18px;
    }

    #Block_Img_1 {

        display: flex;
        flex-wrap: wrap;
        width: 100%;

    }

    .images_Îles_frioule {

        margin-top: 56px;

    }



    #Block_img_2 {

        display: flex;
        flex-flow: wrap;
        margin-left: 20px;
        width: 100%;
    }

    footer {

        display: block;
        margin-bottom: -16px;
        margin-left: -3%;
        padding-left: 3.5%;
        margin-right: -8px;
        padding-bottom: 5px;

    }


    #A_propos {

        margin-left: 3%;
    }
}

/*-------------------------------------------------------------------------GRANDE-TABLETTE------*/

@media screen and (min-width:769px) and (max-width:1024px) {


    main {


        margin-top: 2.65%;




    }

    #Haut_de_page {

        display: block;
    }

    /*------MENU----*/
    nav {

        border-bottom: 1px lightgray solid;
        display: contents;

    }

    #Logos {


        margin-top: 10px;
        width: 110px;
        height: 4em;
        float: left;

    }

    .Link-Nav:hover {

        color: #0065FC;
        border-bottom: 3px #0065fc solid
    }

    .Link-Nav {
        border-top: none;
        border-bottom: 3px solid #F2F2F2;
        width: 50%;
    }

    li {

        font-size: 34px;
        width: 100%;

    }

    #Activite {

        margin-top: 2em;

    }

    #hebergement {

        margin-top: 2em;
    }

    #Hebergement_activite {

        display: flex;
        margin-top: 9em;
        width: 100%;
        position: relative;
        left: 79px;

    }



    nav ul li a:hover {


        border-top: hidden;
    }

    #inscription {

        left: -1em;
        top: -178px;
    }



    /*-----FILTRE----*/

    #Filtres {


        flex-wrap: wrap;
        width: 80%;
        justify-content: flex-start;

    }

    .FiltreSearch {

        margin-top: 20px;
    }


    .FiltreSearch>p {

        margin: auto;
    }

    #Information_logement {

        margin-top: 19em;
    }

    #ButtonFiltres {

        flex-direction: column;
        width: 100%;
    }



    /*----informaton logement------*/

    .info>i {


        left: 6px;
    }


    /*----------Hebergement-----*/

    #HemergementMarseille {


        width: 100%;
        padding-bottom: 10em;
    }

    #Section1 {

        display: flex;
        flex-wrap: wrap;
    }

    #div_Hebergement {

        padding-bottom: 10em;
        margin-top: 8px;
    }

    .AfficherPlus {

        margin-left: auto;
        margin-right: auto;
    }

    #îcones_populaires {
        position: relative;
        top: -1em;
        left: 36em;
    }

    #LesPlusPopulaires {

        width: 100%;
    }

    /*----------Activité----*/

    #Activité_Marseille {

        display: block;
        width: 100%;
    }

    #Article_Activite_Marseille {

        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }

    #Block_Img_1 {

        display: flex;
        padding-left: 38px;

    }


    #Block_img_2 {

        display: flex;
        margin-left: 11px;

    }

   /* footer {

        display: block;
        margin-bottom: -16px;
        margin-left: -3%;
        padding-left: 3.5%;
        margin-right: -8px;
        padding-bottom: 5px;

    }


    #A_propos {

        margin-left: 3%;
    }
}

/*---------------------ORDINATEUR_PORTABLE----------------------------------*/

@media screen and (min-width:1025px) and (max-width:1230px) {


    main {

        margin-top: 2.65%;
        text-align: center;


    }

    #Haut_de_page {

        display: block;
    }

    /*------MENU----*/
    nav {

        border-bottom: 1px lightgray solid;
        display: contents;

    }

    #Logos {


        margin-top: 10px;
        width: 110px;
        height: 4em;
        float: left;

    }

    .Link-Nav:hover {

        color: #0065FC;
        border-bottom: 3px #0065fc solid
    }

    .Link-Nav {
        border-top: none;
        border-bottom: 3px solid #F2F2F2;
        width: 50%;
    }

    li {

        font-size: x-large;
        width: 100%;

    }

    #Activite {

        margin-top: 2em;

    }

    #hebergement {

        margin-top: 2em;
    }

    #Hebergement_activite {

        display: flex;
        margin-top: 9em;
        width: 100%;
        position: relative;
        left: 79px;

    }



    nav ul li a:hover {


        border-top: hidden;
    }

    #inscription {

        left: -1em;
        top: -178px;
    }



    /*-----FILTRE----*/

    #Filtres {


        flex-wrap: wrap;
        width: 80%;
        justify-content: flex-start;

    }

    .FiltreSearch {

        margin-top: 20px;
    }

    .FiltreSearch>p {

        margin: auto;
    }

    #Information_logement {

        margin-top: 19em;
    }

    #ButtonFiltres {

        flex-direction: column;
        width: 100%;
    }



    /*----informaton logement------*/

    .info>i {


        left: 1px;
    }


    /*----------Hebergement-------------------*/

    #HemergementMarseille {


        width: 100%;
        padding-bottom: 9em;
    }

    #Section1 {


        flex-wrap: wrap;
        align-items: stretch;
    }

    #div_Hebergement {

        padding-bottom: 10em;
        margin-top: 8px;
    }

    .AfficherPlus {

        margin-left: auto;
        margin-right: auto;
    }

    #îcones_populaires {
        position: relative;
        top: -1em;
        left: 4em;
    }

    #LesPlusPopulaires {

        width: 100%;
    }

    /*----------Activité-------------------*/

    #Activité_Marseille {

        display: block;
        width: 100%;
    }

    #Article_Activite_Marseille {

        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }

    .Activité_images {
        margin-left: -3em;


    }

    footer {

        display: block;
        margin-bottom: -16px;
        margin-left: -3%;
        padding-left: 3.5%;
        margin-right: -8px;
        padding-bottom: 5px;

    }

}

@media screen and (min-width:1231px) and (max-width:1330px) {


    #îcones_populaires {

        position: relative;
        top: -1em;
        left: 14em;
    }


    .discription_img>.StarNote {
        margin-top: 0%;
    }

}

@media screen and (min-width:1231px) {


    *{

        margin: 0px;
        padding: 0;
    }
    #îcones_populaires {

        position: relative;
        top: -1em;
        left: 14em;
    }
}
}
